/* header */
html {
    margin-bottom: 100px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    line-height: 1.6;
}

header {
    background-color: aliceblue;
    color: #4a5f7a;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: azure;
    text-decoration: none;
    font-weight: bold;
    background-color: #4a5f7a;
    padding: 5px 8px;
    border-radius: 8px;
}

nav ul li a:hover {
    background-color: #5f799c;
}

/* projects section */
section {
    padding: 20px;
    margin: 20px;
    background-color: rgb(218, 228, 236);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(76, 86, 104, 0.274);
}

h2 {
    color: #4a5f7a;
    width: 100%;
    text-align: center;
    margin-top: 0px;
    font-size: x-large;
}

#projects {
    display: flex;
    flex-wrap: wrap;
}

.project {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3 {
    font-size: medium;
    text-align: center;
}

.details:hover {
    background-color: #7c9eca;
}

.details {
    background-color: #5f799c;
    border: none;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    color: aliceblue;
    width: 100px;
}

.descriptions {
    display: none;
    background-color: rgb(162, 185, 216);
    padding: 20px;
    border-radius: 5px;
}

/* contact section */

form {
    text-align: center;
}

label {
    font-weight: 550;
    line-height: 100%;
    display: block;
    margin: 5px 0;
    padding: 5px;
    color: #555;
}

input {
    padding: 5px 0;
    width: 50%;
    border-radius: 5px;
    border-style: hidden;
    margin: 5px auto;
}

button {
    background-color: rgb(68, 106, 139);
    border-style: hidden;
    border-radius: 5px;
    color:rgb(255, 255, 255);
    padding: 10px;
    margin: 5px ;
}

button:hover {
    background-color:rgb(128, 162, 187);
    color:rgba(255, 255, 255, 0.89);
}

.errorMessage {
    display: none;
}
footer {
    background-color: aliceblue;
    color: #4a5f7a;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*Media Queries for Mobile Devices */
@media only screen and (max-width:600px) {
    header, footer {
        padding: 10px;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 5px 0;
    }

    section {
        padding: 10px;
        margin: 10px;
    }
}